*{
  color: white;
}
html { 
   height: 100%;
   width: 100%;
   background-image: black; /* For browsers that do not support gradients */
   background-image: -webkit-linear-gradient(45deg, rgba(168, 50, 121, 0.65), rgba(211, 131, 18, 0.65)), url(background/desk2.jpg); /* For Safari 5.1 to 6.0 */
   background-image: -o-linear-gradient(45deg, rgba(168, 50, 121, 0.65), rgba(211, 131, 18, 0.65)), url(background/desk2.jpg);  /* For Opera 11.1 to 12.0 */
   background-image: -moz-linear-gradient(45deg, rgba(168, 50, 121, 0.65), rgba(211, 131, 18, 0.65)), url(background/desk2.jpg);  /* For Firefox 3.6 to 15*/ 
   background-image: linear-gradient(45deg, rgba(168, 50, 121, 0.65), rgba(211, 131, 18, 0.65)), url(background/desk2.jpg);  /* Standard syntax*/ 
} /*FULL PAGE SIZE*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
} 
h1 {
  font-size: 150%

} /*JASMINE IRIS*/
h2 {
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;

} /*WEB DESIGNER & DEVELOPER*/
h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform:uppercase;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}
nav li {
  float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}/*LIVE LINKS*/
#active {
  color: pink;

} /*HOME LINK*/
nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 10 auto;
  padding: 15px 0;
} 
nav ul {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.6);
  text-align: right;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
nav ul li a {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  color: rgba(94, 26, 62, .5);
  font-size: 18px;
  text-decoration: none;
  display: block;
  background-color: rgba(249, 250, 252, 0);
}
h3 {
  text-transform:uppercase;
  text-align: center;
} /*WHO AM I*/
.img-circle {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span{
    display:inline-block;
    border-bottom: 2px solid pink;
    padding-bottom: 4px;
} /*LINE DESIGN*/
p {
  background-color: none;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
 
} /*CONTENT*/

footer {
   text-align: center;

  } /*EMAIL & HTML & CSS LINKS*/
